<header class="header bg-white">
  <div class="container header__block">
    <div class="header__logo">
      <p class="header__text">Logo</p>
    </div>

    <div class="menu-btn js-menu-btn">
      <div class="menu-btn__burger"></div>
    </div>

    <nav class="nav js-menu">
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Item 1</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Item 2</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Item 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
