:root {
  --header-height: 4rem;
  --grid-gap: 1rem;
  --background: #f5faff;
  --primary-color: #347bff;
  --surface-high: #fff;
  --surface-medium: rgba(0, 0, 0, 5%);
  --surface-low: rgba(0, 0, 0, 4%);
  --text-emphasis-disabled: rgba(0, 0, 0, 38%);
  --text-emphasis-medium: rgba(0, 0, 0, 60%);
  --text-emphasis-high: rgba(0, 0, 0, 87%);
  --divider-color: rgba(115, 178, 253, 10%);
  --selected-blue: #dcecfe;
  --accent-green: #009b5a;
  --accent-lightblue: #73b2fd;
  --error-color: #ee5252;
  --error-input-color: rgba(238, 82, 82, 10%);
  --filled-input-color: #f5faff;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --font-family: 'Poppins', sans-serif;
  --fz-h1: 2em;
  --fz-h2: 1.5em;
  --fz-h3: 1.25em;
  --fz-body: 1em;
  --fz-small: .75em;
  --fz-tiny: .5em;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700; }
  @media screen and (min-width: 600px) {
    :root {
      --fz-h1: 2.5em;
      --fz-h2: 2em;
      --fz-h3: 1.5em; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  background: var(--background);
  font-family: var(--font-family);
  color: var(--text-emphasis-high);
  font-size: var(--fz-body); }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  object-fit: cover; }

p {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  background: var(--background);
  font-family: var(--font-family);
  color: var(--text-emphasis-high);
  font-size: var(--fz-body);

}

h1 {
  font-size: var(--fz-h1); }

h2 {
  font-size: var(--fz-h2); }

h3 {
  font-size: var(--fz-h3); }

.container {
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.section {
  padding-top: 6rem; }

.wt-10 {
  width: 10%; }

.wt-20 {
  width: 20%; }

.wt-30 {
  width: 30%; }

.wt-40 {
  width: 40%; }

.wt-50 {
  width: 50%; }

.wt-60 {
  width: 60%; }

.wt-70 {
  width: 70%; }

.wt-80 {
  width: 80%; }

.wt-90 {
  width: 90%; }

.wt-100 {
  width: 100%; }

.wt-auto {
  --width: calc(100% - 1rem);
  width: var(--width); }
  @media screen and (min-width: 600px) {
    .wt-auto {
      --width: 75%; } }
  @media screen and (min-width: 1024px) {
    .wt-auto {
      --width: 50%; } }

.h-100 {
  height: 100%; }

@media screen and (min-width: 600px) {
  .sm-wt-10 {
    width: 10%; }
  .sm-wt-20 {
    width: 20%; }
  .sm-wt-30 {
    width: 30%; }
  .sm-wt-40 {
    width: 40%; }
  .sm-wt-50 {
    width: 50%; }
  .sm-wt-60 {
    width: 60%; }
  .sm-wt-70 {
    width: 70%; }
  .sm-wt-80 {
    width: 80%; }
  .sm-wt-90 {
    width: 90%; }
  .sm-wt-100 {
    width: 100%; }
  .sm-wt-auto {
    --width: calc(100% - 1rem);
    width: var(--width); } }
  @media screen and (min-width: 600px) and (min-width: 600px) {
    .sm-wt-auto {
      --width: 75%; } }
  @media screen and (min-width: 600px) and (min-width: 1024px) {
    .sm-wt-auto {
      --width: 50%; } }

@media screen and (min-width: 600px) {
  .sm-wt-none {
    width: auto; } }

@media screen and (min-width: 1024px) {
  .lg-wt-10 {
    width: 10%; }
  .lg-wt-20 {
    width: 20%; }
  .lg-wt-30 {
    width: 30%; }
  .lg-wt-40 {
    width: 40%; }
  .lg-wt-50 {
    width: 50%; }
  .lg-wt-60 {
    width: 60%; }
  .lg-wt-70 {
    width: 70%; }
  .lg-wt-80 {
    width: 80%; }
  .lg-wt-90 {
    width: 90%; }
  .lg-wt-100 {
    width: 100%; }
  .lg-wt-auto {
    --width: calc(100% - 1rem);
    width: var(--width); } }
  @media screen and (min-width: 1024px) and (min-width: 600px) {
    .lg-wt-auto {
      --width: 75%; } }
  @media screen and (min-width: 1024px) and (min-width: 1024px) {
    .lg-wt-auto {
      --width: 50%; } }

@media screen and (min-width: 1024px) {
  .lg-wt-none {
    width: auto; } }

@media screen and (min-width: 960px) {
  .md-wt-10 {
    width: 10%; }
  .md-wt-20 {
    width: 20%; }
  .md-wt-30 {
    width: 30%; }
  .md-wt-40 {
    width: 40%; }
  .md-wt-50 {
    width: 50%; }
  .md-wt-60 {
    width: 60%; }
  .md-wt-70 {
    width: 70%; }
  .md-wt-80 {
    width: 80%; }
  .md-wt-90 {
    width: 90%; }
  .md-wt-100 {
    width: 100%; }
  .md-wt-auto {
    --width: calc(100% - 1rem);
    width: var(--width); } }
  @media screen and (min-width: 960px) and (min-width: 600px) {
    .md-wt-auto {
      --width: 75%; } }
  @media screen and (min-width: 960px) and (min-width: 1024px) {
    .md-wt-auto {
      --width: 50%; } }

@media screen and (min-width: 960px) {
  .md-wt-none {
    width: auto; } }

/*
    &t-i is equal to .mt-number or mt-1
    Next are the same, only changes margin direction (mb, mr, ml)
*/
.m-0 {
  margin: 0; }

.mt-1 {
  margin-top: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mx-3 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mt-4 {
  margin-top: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.mx-4 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-5 {
  margin-top: 2.5rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.ml-5 {
  margin-left: 2.5rem; }

.mr-5 {
  margin-right: 2.5rem; }

.mx-5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mt-6 {
  margin-top: 3rem; }

.mb-6 {
  margin-bottom: 3rem; }

.ml-6 {
  margin-left: 3rem; }

.mr-6 {
  margin-right: 3rem; }

.mx-6 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mt-7 {
  margin-top: 3.5rem; }

.mb-7 {
  margin-bottom: 3.5rem; }

.ml-7 {
  margin-left: 3.5rem; }

.mr-7 {
  margin-right: 3.5rem; }

.mx-7 {
  margin-right: 3.5rem;
  margin-left: 3.5rem; }

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.mt-8 {
  margin-top: 4rem; }

.mb-8 {
  margin-bottom: 4rem; }

.ml-8 {
  margin-left: 4rem; }

.mr-8 {
  margin-right: 4rem; }

.mx-8 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 0.5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.pl-1 {
  padding-left: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-2 {
  padding: 1rem; }

.pt-2 {
  padding-top: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }

.pl-2 {
  padding-left: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.px-2 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-3 {
  padding: 1.5rem; }

.pt-3 {
  padding-top: 1.5rem; }

.pb-3 {
  padding-bottom: 1.5rem; }

.pl-3 {
  padding-left: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.px-3 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-4 {
  padding: 2rem; }

.pt-4 {
  padding-top: 2rem; }

.pb-4 {
  padding-bottom: 2rem; }

.pl-4 {
  padding-left: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.px-4 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-5 {
  padding: 2.5rem; }

.pt-5 {
  padding-top: 2.5rem; }

.pb-5 {
  padding-bottom: 2.5rem; }

.pl-5 {
  padding-left: 2.5rem; }

.pr-5 {
  padding-right: 2.5rem; }

.px-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.p-6 {
  padding: 3rem; }

.pt-6 {
  padding-top: 3rem; }

.pb-6 {
  padding-bottom: 3rem; }

.pl-6 {
  padding-left: 3rem; }

.pr-6 {
  padding-right: 3rem; }

.px-6 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-7 {
  padding: 3.5rem; }

.pt-7 {
  padding-top: 3.5rem; }

.pb-7 {
  padding-bottom: 3.5rem; }

.pl-7 {
  padding-left: 3.5rem; }

.pr-7 {
  padding-right: 3.5rem; }

.px-7 {
  padding-right: 3.5rem;
  padding-left: 3.5rem; }

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

.p-8 {
  padding: 4rem; }

.pt-8 {
  padding-top: 4rem; }

.pb-8 {
  padding-bottom: 4rem; }

.pl-8 {
  padding-left: 4rem; }

.pr-8 {
  padding-right: 4rem; }

.px-8 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.d-block {
  display: block; }
  @media screen and (min-width: 600px) {
    .d-block-sm {
      display: block; } }
  @media screen and (min-width: 960px) {
    .d-block-md {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .d-block-lg {
      display: block; } }

.d-none {
  display: none; }
  @media screen and (min-width: 600px) {
    .d-none-sm {
      display: none; } }
  @media screen and (min-width: 960px) {
    .d-none-md {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .d-none-lg {
      display: none; } }

.flex {
  display: flex; }
  .flex-wrap {
    flex-wrap: wrap; }
  .flex-between {
    justify-content: space-between; }
  .flex-center {
    justify-content: center; }
  .flex-end {
    justify-content: flex-end; }
  .flex-start {
    justify-content: flex-start; }
  .flex-around {
    justify-content: space-around; }
  .flex-evenly {
    justify-content: space-evenly; }
  .flex-items-center {
    align-items: center; }
  .flex-column {
    flex-direction: column; }

@media screen and (min-width: 600px) {
  .sm-flex {
    display: flex; }
    .sm-flex-wrap {
      flex-wrap: wrap; }
    .sm-flex-between {
      justify-content: space-between; }
    .sm-flex-center {
      justify-content: center; }
    .sm-flex-end {
      justify-content: flex-end; }
    .sm-flex-start {
      justify-content: flex-start; }
    .sm-flex-around {
      justify-content: space-around; }
    .sm-flex-evenly {
      justify-content: space-evenly; }
    .sm-flex-items-center {
      align-items: center; } }

.fixed {
  position: fixed; }

.z-back {
  z-index: var(--z-back); }

.z-normal {
  z-index: var(--z-normal); }

.z-tooltip {
  z-index: var(--z-tooltip); }

.z-fixed {
  z-index: var(--z-fixed); }

.z-modal {
  z-index: var(--z-modal); }

.full-height {
  height: 100vh; }

.divider {
  height: 0.1875rem;
  width: 100%;
  background: var(--divider-color); }

.fixed-bottom-left {
  position: fixed;
  bottom: 1rem;
  left: 1rem; }

.paragraph-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-8 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-9 {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.paragraph-10 {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.l-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gap);
  width: 100%; }
  @media screen and (min-width: 600px) {
    .l-grid-sm {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grid-gap);
      width: 100%; } }
  @media screen and (min-width: 960px) {
    .l-grid-md {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grid-gap);
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .l-grid-lg {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grid-gap);
      width: 100%; } }
  @media screen and (min-width: 960px) {
    .l-grid-double-gap-md {
      grid-gap: calc( var(--grid-gap) * 2); } }

.l-col-1 {
  grid-column: span 1; }

.l-col-2 {
  grid-column: span 2; }

.l-col-3 {
  grid-column: span 3; }

.l-col-4 {
  grid-column: span 4; }

.l-col-5 {
  grid-column: span 5; }

.l-col-6 {
  grid-column: span 6; }

.l-col-7 {
  grid-column: span 7; }

.l-col-8 {
  grid-column: span 8; }

.l-col-9 {
  grid-column: span 9; }

.l-col-10 {
  grid-column: span 10; }

.l-col-11 {
  grid-column: span 11; }

.l-col-12 {
  grid-column: span 12; }

@media screen and (min-width: 600px) {
  .l-col-sm-1 {
    grid-column: span 1; }
  .l-col-sm-2 {
    grid-column: span 2; }
  .l-col-sm-3 {
    grid-column: span 3; }
  .l-col-sm-4 {
    grid-column: span 4; }
  .l-col-sm-5 {
    grid-column: span 5; }
  .l-col-sm-6 {
    grid-column: span 6; }
  .l-col-sm-7 {
    grid-column: span 7; }
  .l-col-sm-8 {
    grid-column: span 8; }
  .l-col-sm-9 {
    grid-column: span 9; }
  .l-col-sm-10 {
    grid-column: span 10; }
  .l-col-sm-11 {
    grid-column: span 11; }
  .l-col-sm-12 {
    grid-column: span 12; } }

@media screen and (min-width: 960px) {
  .l-col-md-1 {
    grid-column: span 1; }
  .l-col-md-2 {
    grid-column: span 2; }
  .l-col-md-3 {
    grid-column: span 3; }
  .l-col-md-4 {
    grid-column: span 4; }
  .l-col-md-5 {
    grid-column: span 5; }
  .l-col-md-6 {
    grid-column: span 6; }
  .l-col-md-7 {
    grid-column: span 7; }
  .l-col-md-8 {
    grid-column: span 8; }
  .l-col-md-9 {
    grid-column: span 9; }
  .l-col-md-10 {
    grid-column: span 10; }
  .l-col-md-11 {
    grid-column: span 11; }
  .l-col-md-12 {
    grid-column: span 12; } }

@media screen and (min-width: 1024px) {
  .l-col-lg-1 {
    grid-column: span 1; }
  .l-col-lg-2 {
    grid-column: span 2; }
  .l-col-lg-3 {
    grid-column: span 3; }
  .l-col-lg-4 {
    grid-column: span 4; }
  .l-col-lg-5 {
    grid-column: span 5; }
  .l-col-lg-6 {
    grid-column: span 6; }
  .l-col-lg-7 {
    grid-column: span 7; }
  .l-col-lg-8 {
    grid-column: span 8; }
  .l-col-lg-9 {
    grid-column: span 9; }
  .l-col-lg-10 {
    grid-column: span 10; }
  .l-col-lg-11 {
    grid-column: span 11; }
  .l-col-lg-12 {
    grid-column: span 12; } }

.fz-h1 {
  font-size: var(--fz-h1); }

.fz-h2 {
  font-size: var(--fz-h2); }

.fz-h3 {
  font-size: var(--fz-h3); }

.fz-body {
  font-size: var(--fz-body); }

.fw-light {
  font-weight: var(--fw-light); }

.fw-regular {
  font-weight: var(--fw-regular); }

.fw-medium {
  font-weight: var(--fw-medium); }

.fw-bold {
  font-weight: var(--fw-bold); }

.fz-small {
  font-size: var(--fz-small); }

.bg-white {
  background: #fff; }

.bg-primary {
  background: var(--primary-color); }

.primary-color {
  color: var(--primary-color); }

.text-emphasis-high {
  color: var(--text-emphasis-high); }

.text-emphasis-medium {
  color: var(--text-emphasis-medium); }

.text-emphasis-disabled {
  color: var(--text-emphasis-disabled); }

.header {
  height: var(--header-height);
  width: 100%;
  z-index: var(--z-tooltip);
  transition: background .2s linear; }
  .header--scroll {
    background: var(--background); }
  .header__block {
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header__logo {
    display: flex;
    align-items: center; }
  .header__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem; }
  .header__text {
    color: var(--text-emphasis-high);
    font-size: 1.5em;
    font-weight: var(--fw-light);
    margin: 0; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  right: -100vw;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: right .3s ease-in-out;
  z-index: var(--z-tooltip); }
  .nav.open {
    right: 0; }
  @media screen and (min-width: 600px) {
    .nav {
      position: initial;
      background-color: initial;
      width: auto;
      height: auto; } }

.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: var(--header-height); }
  @media screen and (min-width: 600px) {
    .menu {
      display: flex;
      margin-top: 0; } }
  @media screen and (min-width: 600px) {
    .menu__item:not(:last-child) {
      margin-right: 2rem; } }
  .menu__item {
    --hover: var(--surface-medium);
    transition: .1s linear; }
    @media screen and (min-width: 600px) {
      .menu__item {
        --hover: none
    ; } }
    .menu__item:hover {
      background: var(--hover); }
  .menu__link {
    color: var(--text-emphasis-high);
    display: block;
    padding: 1.5em;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .menu__link {
        padding: 0;
        text-align: left; } }

.icon {
  width: 2rem;
  height: 2rem; }
  .icon-small {
    width: 0.9375rem;
    height: 0.9375rem; }
  .icon-medium {
    width: 1.875rem;
    height: 1.875rem; }
  .icon-large {
    width: 3.75rem;
    height: 3.75rem; }
  .icon-light {
    fill: #fff; }
  .icon-success {
    fill: var(--accent-green); }
  .icon-high-emphasis {
    fill: var(--text-emphasis-high); }
  .icon-medium-emphasis {
    fill: var(--text-emphasis-medium); }

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.875rem;
  cursor: pointer;
  transition: all .3s linear;
  z-index: var(--z-fixed); }
  .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: var(--text-emphasis-medium);
    border-radius: 3px;
    transition: all 0.3s ease-in-out; }
    .menu-btn__burger::before, .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 4px;
      background: var(--text-emphasis-medium);
      border-radius: 3px;
      transition: all 0.3s ease-in-out; }
    .menu-btn__burger::before {
      transform: translateY(-12px); }
    .menu-btn__burger::after {
      transform: translateY(12px); }
  @media screen and (min-width: 600px) {
    .menu-btn {
      display: none; } }

.menu-btn.open .menu-btn__burger {
  transform: translateX(-45px);
  background: transparent; }

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px); }

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px); }

.button {
  cursor: pointer;
  font-family: inherit;
  color: var(--background);
  display: inline-block;
  border-radius: 0.5rem;
  padding: .375em .75em;
  font-weight: var(--fw-bold);
  transition: background .3s linear;
  background: var(--primary-color);
  outline: none;
  border: none;
  font-size: var(--fz-body);
  fill: #fff; }
  .button:hover {
    background: var(--primary-color);
    color: var(--background); }
  .button-sm {
    font-size: var(--fz-small);
    padding: .25em .5em; }
  .button-lg {
    padding: .5em 1em;
    font-size: var(--fz-h3); }
  .button-ghost {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    fill: var(--primary-color); }
  .button-success {
    background: var(--accent-green);
    fill: #fff; }
    .button-success:hover {
      background: var(--accent-green); }
  .button__icon {
    width: .75em;
    height: .75em; }

.card {
  padding: 2rem;
  background: var(--surface-high);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05); }
  .card--featured {
    background: var(--selected-blue);
    border: 2px solid var(--accent-lightblue); }
  .card__title {
    margin: 0;
    margin-bottom: 1rem; }

.h-card {
  padding: 2rem;
  background: var(--surface-high);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  @media screen and (min-width: 960px) {
    .h-card {
      text-align: left;
      align-items: start;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr; } }
  .h-card--featured {
    background: var(--selected-blue);
    border: 2px solid var(--accent-lightblue); }
  .h-card__image {
    max-width: 12.5rem; }
  .h-card__title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5em; }

.form__group {
  display: block;
  margin-bottom: .5rem; }

.form__error-message {
  color: var(--error-color);
  font-size: .75em;
  margin-bottom: .5rem; }

.form__label {
  color: var(--text-emphasis-high); }

.form__input {
  background: var(--surface-high);
  font-family: inherit;
  width: 100%;
  padding: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  border: 1px solid var(--text-emphasis-disabled);
  color: var(--text-emphasis-high);
  font-weight: 500;
  height: 3rem; }

.form__input:focus {
  border-color: var(--accent-lightblue); }

.form__input:invalid {
  color: var(--error-color);
  border-color: var(--error-color);
  background: var(--error-input-color); }

.form__input--error {
  color: var(--error-color);
  border-color: var(--error-color);
  background: var(--error-input-color); }

.form__input--filled {
  border-color: var(--accent-lightblue);
  background: var(--filled-input-color); }

.form__input--textarea {
  padding-top: .5rem;
  padding-bottom: .5rem;
  min-height: 4rem;
  height: 8rem;
  resize: vertical; }

.form__input--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/assets/icons/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 50%, 0 0;
  background-size: .75em auto, 100%; }

.form__input::placeholder {
  color: var(--text-emphasis-disabled); }

.badge {
  padding: .35em .5em;
  font-size: 75%;
  background: gray;
  color: #fff;
  border-radius: 0.5rem; }
  .badge-success {
    background: var(--accent-green); }



.cs-mb-4{
       margin-bottom: 1.5rem!important;
}
